<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style_artist.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Artiste</title>
</head>
<body> <!-- Nous repreonons certains éléments de la page d'accueil -->
    <div class="parent">

        <div class="div1">
            <header class="header">
                <h1 class="big-title">Music Tracker 2025</h1>
                <img src="#" alt="logo du site" class="logo">
            </header>
        </div>

        <div class="div2">
            <nav class="side-menu">
                <ul>
                    <li><a href="/">🏠 <span>Accueil</span></a></li>
                    <li><a href="#">🎵 <span>Artiste</span></a></li>
                    <li><a href="#">ℹ️ <span>À propos</span></a></li>
                </ul>
            </nav>
        </div>

        <div class="div3">
            
            <!-- [ TU CODE ICI ]-->

        </div>

        <div class="div4">
            <footer>
                <a href="https://github.com/loschoe/Groupie-Tracker-SCHOEPF_Camara">Lien du Repository github</a>
                <p>Tous Droits réservés</p>
            </footer>
        </div>
    </div>
</body>
</html>