<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style_artist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Infos Artiste | Music Tracker</title>
</head>

<body>
<div class="parent">

    <div class="div1">
        <header class="header">
            <h1 class="big-title">Music Tracker 2025</h1>
            <img src="/static/images/logoo.png" alt="logo du site" class="logo">
        </header>
    </div>

    <div class="div2">
        <nav class="side-menu">
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> <span>Accueil</span></a></li>
                <li><a href="/artist"><i class="fas fa-music"></i> <span>Artiste</span></a></li>
                <li><a href="/about"><i class="fas fa-info-circle"></i> <span>À propos</span></a></li>
                <li><a href="#"><i class="fas fa-sun"></i> <span>Apparence</span></a></li>
            </ul>
        </nav>
    </div>

    <div class="div3">
        <h2 class="title"><i class="fas fa-magnifying-glass"></i> Artiste recherché</h2>

        <div class="info-wrapper">
            <img class="illustration" src="{{ .Artist.Image }}" alt="Image de {{ .Artist.Name }}">

            <div class="info-text">
                <h3 class="Name">{{ .Artist.Name }}</h3>

                <p class="text-descript">
                    <span class="label">Création :</span> {{ .Artist.CreationDate }}
                </p>

                <p class="text-descript">
                    <span class="label">Le ou les membre(s) :</span> {{ .Artist.MembersList }}
                </p>

                <p class="text-descript">
                    <span class="label">Premier album sorti :</span> {{ .Artist.FirstAlbum }}
                </p>
            </div>
        </div>

        <h4 class="litle-title"><i class="fa-solid fa-guitar"></i> Concerts</h4>
        <div class="concerts">
            {{ range .ByLoc }}
                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    <strong>{{ .Location }}</strong>
                    {{ join .Dates " ; " }}
                </p>
            {{ end }}
        </div>
        <a class="Retour" href="/">← Retour à l'accueil</a>
    </div>

    <div class="div4">
        <footer>
            <a href="https://github.com/loschoe/Groupie-Tracker-SCHOEPF_Camara">
                Lien du Repository github
            </a>
            <p>© Music Tracker 2025 — Projet Ynov</p>
        </footer>
    </div>

</div>
</body>
</html>