<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
    <title>Accueil</title>
</head>
<body>
    <div class="parent">
    <div class="div1">
        <header class="header">
            <h1 class="big-title">Groupie Tracker 2025</h1>
            <img src="#" alt="logo du site" class="logo">
        </header>
    </div>
    <div class="div2">
        <nav class="side-menu">
            <ul>
                <li><a href="/">🏠 <span>Accueil</span></a></li>
                <li><a href="#">🎵 <span>Artiste</span></a></li>
                <li><a href="#">ℹ️ <span>À propos</span></a></li>
                <!--<li><a href="#">🎨 <span>Apparence</span></a></li>-->
            </ul>
</nav>
    </ul>
</nav>
    </div>
    <div class="div3">
        <div class="search-container">
        <div class="search-box">
            <div class="search-icon">
            <svg viewBox="0 0 20 20" aria-hidden="true">
                <path d="M16.72 17.78a.75.75 0 1 0 1.06-1.06l-1.06 1.06ZM9 14.5A5.5 5.5 0 0 1 3.5 9H2a7 7 0 0 0 7 7v-1.5ZM3.5 9A5.5 5.5 0 0 1 9 3.5V2a7 7 0 0 0-7 7h1.5ZM9 3.5A5.5 5.5 0 0 1 14.5 9H16a7 7 0 0 0-7-7v1.5Zm3.89 10.45 3.83 3.83 1.06-1.06-3.83-3.83-1.06 1.06ZM14.5 9a5.48 5.48 0 0 1-1.61 3.89l1.06 1.06A6.98 6.98 0 0 0 16 9h-1.5Zm-1.61 3.89A5.48 5.48 0 0 1 9 14.5V16a6.98 6.98 0 0 0 4.95-2.05l-1.06-1.06Z"></path>
            </svg>
            </div>

    <input type="text" placeholder="Votre groupe..." class="search-input">

    <button class="search-btn">Rechercher</button>
  </div>
</div>
        <p>[La liste des artistes]</p>
    </div>
    <div class="div4">
        <footer>
            <a href="https://github.com/loschoe/Groupie-Tracker-SCHOEPF_Camara">Lien du Repository github</a>
            <p>Tous Droits réservés</p>
        </footer>
    </div>
    </div>
</body>
</html>