<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Bienvenue | Music Tracker</title>
  <link rel="stylesheet" href="../static/css/style_start.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
<header class="header">
  <h1>Music Tracker <span>2025</span></h1>
</header>

<main class="hero">

  <h2>Explorez vos artistes préférés grâce à Music Tracker</h2>

  <p class="text">
    <strong>Music Tracker 2025</strong> est une application web dédiée à la l’exploration de groupes et artistes musicaux à travers le temps.
  </p>

  <p class="text">
    Le site s’appuie sur l’API externe <strong>Groupie Tracker</strong>, qui fournit
    des données sur les artistes : date de création, membres,
    lieux de concerts et chronologie des tournées.
  </p>

  <p class="text">
    Grâce à cette API, Music Tracker centralise les informations
    pour offrir une navigation simple, rapide et intuitive à tous les passionnés de musique.
    <br>- Utilisez la barre de recherche et les filtres mis à disposistion afin de naviguer sur la page. 
    <br>- Un thème clair/sombre est disponible pour plus d'accessibilté. 
  </p>

  <a href="/accueil" class="cta">Découvrir les artistes</a>
</main>

<footer>
  <p class="text">© 2025 Music Tracker — Données fournies par Groupie Tracker API</p>
</footer>

</body>
</html>